<ion-view view-title="Chats">
  <ion-content>
    <div class="container">
      <div class="list card">
        <div class="item item-divider">
          当前数据
        </div>
        <p class="item item-icon-left"><b class="text-primary"><i class="icon ion-clock"></i>当前时间:</b>{{date}}</p>
        <p class="item item-icon-left"><b class="text-primary"><i class="icon ion-location"></i>地理位置:</b>经:{{lat.toFixed(4)}} 纬:{{long.toFixed(4)}}</p>
        <p class="item item-icon-left"><b class="text-primary"><i class="icon ion-connection-bars"></i>网络类型:</b>{{netType}}</p>
        <p class="item item-icon-left"><b class="text-primary"><i class="icon ion-navigate"></i>设备朝向:</b> 方向:{{X}}° 精确度:{{Z}}</p>
        <p class="item item-icon-left"><b class="text-primary"><i class="icon ion-wifi"></i>当前网速:</b>{{network}} KB/S</p>
        <div class="item item-divider">
          当前待上传数据数:{{labDatas.length}}
        </div>
      </div>
      <div class="button-bar">
        <button class="button button-positive button-outline" ng-click="getInfo()">
          获取数据
        </button>
        <button class="button button-balanced button-outline" ng-click="submitData()">
          <i class="icon ion-upload"></i>
          上传数据
        </button>
      </div>
      <p>{{dataErr}}</p>
    </div>
  </ion-content>
</ion-view>
